{% extends "base.html" %}

{% block content %}
    <h1>Anunturi</h1>

    {% for product in products %}
        <div class="card" style="width: 18rem;">

        {% if ad.image %}
            <img src="{{ product.image.url }}" class="card-img-top" alt={{ ad.name }}>
        {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ product.image.url }}</h5>
                <p class="card-text">{{ product.price }} RON</p>
                <p class="card-text">{{ product.city}}</p>
                <a href="#" class="btn btn-primary">Vezi anuntul</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}