{% extends 'base.html' %}
{% block content %}
 <h1>Anunturi</h1>

    {% for ad in product_search %}
        <div class="card" style="width: 18rem;">

        {% if ad.image %}
            <img src="{{ ad.image.url }}" class="card-img-top" alt={{ ad.image }}>
        {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ ad.name }}</h5>
                <p class="card-text">{{ ad.price }} RON</p>
                <p class="card-text">{{ ad.city}}</p>
                <a href="{% url 'ad_detail' ad.id %}" class="btn btn-primary">Vezi anuntul</a>
                <a href="{% url 'favorites' ad.id %}" class="btn btn-primary">
                    <i class="bi bi-heart">Favorite</i>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}